body {
  margin: 0;
  padding: 0;
  background: rgb(128,67,203);
  background: linear-gradient(45deg, rgba(128,67,203,1) 9%, rgba(81,10,171,1) 36%, rgba(29,8,55,1) 72%, rgba(0,0,0,1) 100%);
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
